@charset "UTF-8";
.body {
	background-repeat: no-repeat;
	background-image: url(WebV2/Img/vogelbg.png);
	width: 1200px;
	background-size: 51% auto;
	z-index: 2;
	display: block;
	height: auto;
	background-position: 44% 11%;
}
.back {
	font-size: 20px;
	color: #EA062C;
	text-decoration: none;
	text-align: left;
	letter-spacing: 3px;
	width: 200px;
}
.audio{
	width: 1200px;
	z-index: 4;
	height: auto;
}
.angst {
	width: 80px;
	position: relative;
	top: 322px;
	left: 477px;
}
.relf {
	width: 80px;
	height: auto;
	display: block;
	position: relative;
	top: 245px;
	left: 776px;
}
.food {
	width: 80px;
	position: relative;
	top: -60px;
	left: 896px;
}
.licht {
	position: relative;
	width: 100px;
	display: block;
	left: 442px;
}
.blik {
	width: 120px;
	display: block;
	position: relative;
	top: -4px;
	left: 833px;
}
.myself {
	width: 100px;
	display: block;
	position: relative;
	top: -108px;
	left: 729px;
}
.twij {
	width: 100px;
	display: block;
	position: relative;
	left: 535px;
	top: -47px;
}
